#header {
    background-color: cyan;
    border: solid black 3px;
    display:block;
    text-align:center;
    width: 18cm;
    margin:auto;
}
.work{
    text-align:center;
    display: block;
    margin:auto;
    margin-top: 2cm;
    width:5cm;
    font-size:32px;
    background-color:rgba(255, 255, 255, 0.592);
}